.top-box {
  position: fixed;
  top: 5px;
  width: 210px;
  height: 50px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  background-color: rgb(108, 64, 37);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100px;
}



.navbar  a {
  color: black;
  padding: 15px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: .3s;
  font-family: monospace;
}


.navbar li {
  float: left;
  list-style: none;
}

.title {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.main-img {
  display: flex;
  justify-content: center;
}

.main-yuboy {
  border-radius: 50px;
  border: rgb(0, 0, 0);
  border-style: solid;
}

h2, h3, h4, p {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.gift-boxes div {
  margin: 30px;
}

.gift-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gift-1, .gift-2, .gift-3, .gift-4,.gift-5, .gift-6 {
  background-color: rgb(172, 172, 172);
  width: 300px;
  height: 380px;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(65, 150, 32);
}

.bouldering-img, .Lamp-img, .projector-img, .charger-img, .Sunset-img, .cash-img {
  width: 270px;
  height: 180px;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  margin: 12px;
  margin: 10px;
  margin: 10px;
}


.clothes-boxes div {
  margin: 30px;
}

.clothes-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clothes-1, .clothes-2, .clothes-3, .clothes-4,.clothes-5, .clothes-6 {
  background-color: rgb(172, 172, 172);
  width: 300px;
  height: 380px;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(65, 150, 32);
}

.Brown-image, .Green-image, .Hollister-card, .HM-card {
  width: 230px;
  height: 180px;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  margin-left: 27px;
  margin-top: 10px;
}